<h1>Trading page</h1>

<script>
    function displayBuyMsg() {
      document.getElementById("buyMsg").style.color = "red";
    }
</script>

<!-- Buy a stock: -->
<form #f="ngForm" (ngSubmit)="  buyStock(f)">
    <p>
        <label>Symbol</label>
        <input type="text" [(ngModel)]="stockToBuySymbol" name="stockToBuySymbol" required>
    </p>
    <p>
        <label>Name</label>
        <input type="text" [(ngModel)]="stockToBuyName" name="stockToBuyName" required>
    </p>
    <p>
        <label>Quantity</label>
        <input type="number" [(ngModel)]="stockToBuyQty" name="stockToBuyQty" required>
    </p>
    <p>
        <button type="submit" onclick="displayBuyMsg()">Buy stock</button>
    </p>
    <p id="buyMsg">You just buy stock.</p>
</form>

<!-- Sell a stock: -->
<form #f="ngForm" (ngSubmit)="  sellStock(f)">
    <p>
        <label>Symbol</label>
        <input type="text" [(ngModel)]="stockToSellSymbol" name="stockToSellSymbol" required>
    </p>
    <p>
        <label>Name</label>
        <input type="text" [(ngModel)]="stockToSellName" name="stockToSellName" required>
    </p>
    <p>
        <label>Quantity</label>
        <input type="number" [(ngModel)]="stockToSellQty" name="stockToSellQty" required>
    </p>
    <p>
        <button type="submit">Sell stock</button>
    </p>
    <p id="sellMsg">You just sell stock.</p>
</form>


