div{ 
    zoom: 1.75; 
}


body {
    transform: scale(1.1);
   transform-origin: 0 0;
 
  }

#tradingform{
    text-align: center;
    
}

input:focus {
    background-color: lightblue;
  }

label {
    display: inline-block;
    width:100px;
    text-align: right;
   
}

input[type=text] {
    width: 200px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=number] {
    width: 200px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

label {
    width: 120px;
    margin-right: 20px;
    /* float: left; */
}

span {
    font-weight: bold;
}

.border-bottom-input {
    border:0; 
    border-bottom:1px solid #eee; 
}

*, *:before, *:after {
    box-sizing: border-box;
}

.rounded-input {
    padding:10px;
    border-radius:10px;
}


button {

    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
  
    /* usual styles */
    padding:10px;
    border:none;
    background-color:#3F51B5;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    margin: 10px;
    margin-left: 20px;
  }

  @media (min-width: 768px) {
    .button {
      padding: 0 2.6rem;
    }
  }