<h1>Trading page</h1>

<!-- Buy a stock: -->
<form #f="ngForm" (ngSubmit)="tradeStock($event.submitter.id, f)">
    <p>
        <label>Symbol</label>
        <input type="text" [(ngModel)]="stockSymbol" name="stockSymbol" required>
    </p>
    <p>
        <label>Name</label>
        <input type="text" [(ngModel)]="stockName" name="stockName" required>
    </p>
    <!-- <p>
        <label>Price</label>
        <input type="number" [(ngModel)]="stockPrice" name="stockPrice" required>
    </p> -->
    <p>
        <label>Quantity</label>
        <input type="number" [(ngModel)]="stockQty" name="stockQty" required>
    </p>
    <div class=""cntr>
        <button id="buy" type="submit" [disabled]="!f.valid">Buy</button>
        <button id="sell" type="submit" [disabled]="!f.valid">Sell</button>
    </div>
    
    <ng-container *ngIf="messageDisplay">
        <p>{{tradingType}} stock success.</p>
    </ng-container>
</form>