body {
    font-family: 'Rubik Mono One', sans-serif;
    background-color: #597ea6;
    /*font-family: Verdana, Geneva, sans-serif;*/
}


nav {
    background-color: #597ea6;
    padding: 12px 3px;
    margin-bottom: 1px;
    align-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

/*nav a:hover {*/
/*    color: blue;*/
/*    background-color: white;*/
/*    text-decoration: none;*/
/*}*/
