<p>This is the main page</p>
<p>Transaction table:</p>
<div>
    <div *ngFor="let transaction of transactions | async">
        <p>
            <span>Id: {{transaction.id}}</span><br>
            <span>Symbol: {{transaction.stockSymbol}}</span><br>
            <span>Name: {{transaction.name}}</span><br>
            <span>Submitted DateTime: {{transaction.submittedDateTime}}</span><br>
            <span>Submitted Price: {{transaction.submittedPrice}}</span><br>
            <span>Quantity: {{transaction.qty}}</span><br>
            <span>Type: {{transaction.type}}</span>
        </p>
    </div>
</div>
