<!DOCTYPE html>
<html>


<button class="cta" (click)="getAllStocks()">
  <span class="hover-underline-animation"> Show All </span>
  <svg id="arrow-horizontal" xmlns="http://www.w3.org/2000/svg" width="30" height="10" viewBox="0 0 46 16">
    <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" transform="translate(30)"></path>
  </svg>
</button>

<div class="container" >

  <nav>
    <ul>
      <li>
        <!-- Search by symbol: -->
        <form #f="ngForm" (ngSubmit)=" searchStockBySymbol(f)">
          <p>
<!--            <label>Symbol</label>-->
            <input type="text" [(ngModel)]="searchSymbol" placeholder="Symbol" name="searchSymbol" required >
          </p>
          <p>
            <button  type="submit" [disabled]="!f.valid"><span class="yesyes"> Search By Symbol </span>
              </button>
          </p>
        </form>
      </li>

      <li>
        <!-- Search by name: -->
        <form #f="ngForm" (ngSubmit)=" searchStockByName(f)">
          <p>
<!--            <label>Name</label>-->
            <input type="text" [(ngModel)]="searchName" placeholder="Name" name="searchName" required>
          </p>
          <p>
            <button class = "ccn" type="submit" [disabled]="!f.valid"><span class="yesyes"> Search By Symbol </span>
            </button>
          </p>
        </form>
      </li>

    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>


<!--&lt;!&ndash; Search by symbol: &ndash;&gt;-->
<!--<form #f="ngForm" (ngSubmit)=" searchStockBySymbol(f)">-->
<!--    <p>-->
<!--        <label>Symbol</label>-->
<!--        <input type="text" [(ngModel)]="searchSymbol" name="searchSymbol" required>-->
<!--    </p>-->
<!--    <p>-->
<!--        <button type="submit" [disabled]="!f.valid">Search By Symbol</button>-->
<!--    </p>-->
<!--</form>-->

<!--&lt;!&ndash; Search by name: &ndash;&gt;-->
<!--<form #f="ngForm" (ngSubmit)=" searchStockByName(f)">-->
<!--    <p>-->
<!--        <label>Name</label>-->
<!--        <input type="text" [(ngModel)]="searchName" name="searchName" required>-->
<!--    </p>-->
<!--    <p>-->
<!--        <button type="submit" [disabled]="!f.valid">Search By Name</button>-->
<!--    </p>-->
<!--</form>-->


<p>Stock Table:</p>
<div *ngFor="let stock of stocks">
    <p>
        <span>Symbol: {{stock.symbol}}</span><br>
        <span>Name: {{stock.name}}</span><br>
        <span>Quantity: {{stock.qty}}</span><br>
    </p>
</div>

</html>
